<form ng-controller="listarEscolasCtrl">
    <!-- Tabela de Escolas -->
    <div class="box">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Rede</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Detalhar Escola</th>
                    <th scope="col">Detalhar Avaliação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="escola in escolas">
                    <td scope="row">{{escola.codEscola}}</td>
                    <td scope="row">{{escola.nome}}</td>
                    <td scope="row">{{escola.rede}}</td>
                    <td scope="row">{{escola.email}}</td>
                    <td scope="row">{{escola.categoriaEscolaPrivada}}</td>
                    <td md-cell>
                        <md-button aria-label="Detalhar"
                          ui-sref="pesquisarEscolaPorCodigo({codEscola: escola.codEscola})"
                          ui-sref-opts="{reload: true}">
                            <ng-md-icon icon="dehaze" size="18"></ng-md-icon>
                            <md-tooltip md-direction="bottom">
                                Detalhar Escola
                            </md-tooltip>
                        </md-button>
                    </td>
                    <td md-cell>
                        <md-button aria-label="Detalhar"
                          ui-sref="listarAvaliacoesEscola({codEscola: escola.codEscola})"
                          ui-sref-opts="{reload: true}">
                            <ng-md-icon icon="dehaze" size="18"></ng-md-icon>
                            <md-tooltip md-direction="bottom">
                                Detalhar Avaliacao
                            </md-tooltip>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="listarEscola()">
        Listar
    </button>
</form>